body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

footer,
.header {
  margin: 0 100px;
  background-color: #1f2937;
}

.header {
  padding-left: 200px;
  padding-right: 200px;
  height: 500px;
}

.links,
.logo {
  margin-top: 10px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

li {
  list-style: none;
}

.links {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.header-link {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}

.header-link:hover {
  color: blue;
}
.container,
.header-text,
.menu,
.cards {
  display: flex;
}

.header-text {
  margin-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-basis: 480px;
}

h3 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  margin: 0;
}

.img-text {
  font-size: 18px;
  color: #e5e7eb;
}

.old-car {
  max-width: 400px;
  height: auto;
  margin-left: auto;
}

button {
  background-color: #3882f6;
  width: 100px;
  border-radius: 7px;
}

.first-session {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 100px;
}

.cards {
  gap: 50px;
  justify-content: center;
}

#session-title {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.card {
  width: 50px;
  height: 60px;
  border: 5px solid #3882f6;
  border-radius: 15%;
  padding: 50px;
}

.card-container {
  display: flex;
  flex-direction: column;
  flex-basis: 80px;
}

.first-session p {
  margin-bottom: 50px;
}

.cards p {
  text-align: center;
}
